<style>
    .navbar p.footer_text {
      text-align: center;
      margin: 0;
    }
  </style>

  <footer class=" fixed-bottom bg-primary py-1 mt-5">
    <div class="container text-light text-center"> 
      <p class="display-7 mb-10"> 
        Grocery Go
        <small class="text-white-50">© 2023 by Grocery Go. All rights reserved</small>
        <a class="text-danger text-bold " href="https://github.com/datduong1205/web-project">|GitHub</a>
      </p>
    </div>

  </footer>

<script src="/Script/app.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery/dist/jquery/min.js"></script>
</body>
</html>