<% include partials/header.ejs %>

<body>

<h1 class="aboutTitle">About Us</h1>

<div class="aboutContainer">  
  <div class="containerTitle">
    <!--about container title-->
    <h2 id="">Text Here</h2>
    <!--about info here-->
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet faucibus enim, vitae tempus eros pellentesque eget. Donec sit amet posuere arcu. In vitae nulla feugiat, scelerisque felis quis, posuere mauris. Integer a felis varius, bibendum turpis eget, accumsan nunc. Phasellus venenatis euismod velit, non vehicula metus suscipit quis. Maecenas rutrum facilisis tortor nec rutrum. Nullam tincidunt ligula efficitur feugiat bibendum. Nunc elementum mauris neque, eu iaculis lectus accumsan sed.
    </p>
    <br>
    <p>
        Phasellus non bibendum ipsum. Donec eget leo vitae lectus condimentum finibus sed id urna. Vestibulum a ante eget ex vestibulum sagittis. Ut accumsan pharetra imperdiet. Ut maximus orci ac nunc ultricies, vitae faucibus eros malesuada. Vivamus consequat tortor vel pellentesque luctus. Ut ut venenatis libero. Morbi efficitur ornare justo, eget faucibus sapien sagittis ac. Integer a libero eu ipsum scelerisque convallis id id tortor. Ut sit amet nibh lorem. Curabitur pulvinar justo aliquet elementum rutrum.
    </p>
    
  </div> 
</div>

</body>

<% include partials/footer.ejs %>
