<% include partials/header.ejs %>

<body>
  <h1 class="aboutTitle">About Us</h1>

  <div class="aboutContainer">
    <div class="containerTitle">
      <!--about container title-->
      <h2 id=""></h2>
      <!--about info here-->
      <p>
        Hello we are Groccery Go, a website in which you can be able to
        efficiently and effectively list out your grocceries that you are in
        need of. We started this back in 2020 and are a group of 3 zealous
        individuals who are hoping to make everyone's groccery lives more easier
        and effective.
      </p>
      <!--about container title-->
      <h2 class="OurMission">Our Mission</h2>
      <br />
      <p>
        -To serve as a safe place to check and list your grocceries <br />

        -To allow you to save your tracker <br />

        -Make it cost free and usable <br />
        <img class="logo_img" src="/asset/images/Grocery Go-logos_transparent.png" />
      </p>
    </div>
  </div>
</body>

<% include partials/footer.ejs %>
