<% include partials/header.ejs %>

<body>
  <h1 class="aboutTitle">ABOUT US</h1>

  <div class="aboutContainer">
    <div class="containerTitle">
      <!--about container title-->
      <h2 id=""></h2>
      <!--about info here-->
      <p class="aboutus_story">
        Welcome to Grocery Go – Your Smarter Shopping Solution! At Grocery Go,
        we've reimagined grocery tracking to make your shopping experience a
        breeze. Our user-friendly app helps you create and customize smart
        shopping lists, navigate aisles effortlessly, stick to budgets, and
        discover exciting deals. Say goodbye to stress and hello to seamless,
        savvy shopping. Download Grocery Go now and transform the way you shop!
      </p>
      <!--about container title-->

      <div class="OurMission_logo">
        <img
          class="logo_img"
          src="/asset/images/Grocery Go-logos_transparent.png"
        />
        <div>
          <h2 class="OurMission">Our Mission</h2>
          <p>
            - Empowering efficient and stress-free grocery shopping <br />-
            Grocery Go is your go-to solution for smart lists, budget tracking,
            and exclusive deals <br />- Revolutionize your shopping experience
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="blank"></div>
</body>

<% include partials/footer.ejs %>
