<% include partials/header.ejs %>

<body>
  <!-- <div class="HomeContainer">
    <div class="contTitle">
      <h2 class="subhead">Welcome to Grocery Go</h2>
    </div>

    <p>
      Welcome to Grocery Go the place where you want to start planning and
      tracking all your grocceries.
    </p>
    <br />
    <p>
      Are you tired of tracking all your groceries and need a place to carefully
      track all your spendings? Well this is the place for you!
    </p>
    <br />
    <p>
      @Grocery Go we ensure that you are able to track all your groceries and be
      pleased with your trackings
    </p>
    <br />
    <p>Look through and navigate on our bar and login and start your tracks!</p>
  </div> -->

  <!-- banner -->
  <section id="banner">
    <div class="container">
      <div class="banner_heading">
        <p><span>WELCOME TO GROCERY GO </span></p>
        <h1>Plan and Track your groceries now.</h1>
      </div>
    </div>
  </section>
</body>

<% include partials/footer.ejs %>
