<% include partials/header.ejs %>


<body>
    <h1 class="HomeTitle">Home</h1>
    <div class="HomeContainer">
        <div class="contTitle">
    <h2 class="subhead">Welcome to Grocery Go</h2>
        </div>
        <!-- Home page info -->
        <p>
            Welcome to Grocery Go the place where you want to 
            start planning and tracking all your grocceries. 
        </p>
        <br />
        <p>
            Are you tired of tracking all your groceries and need a place to carefully
            track all your spendings? Well this is the place for you!
        </p>
        <br />
        <p>
            @Grocery Go we ensure that you are able to track all your groceries and be pleased
            with your trackings

        </p>
        <br/>
        <p>
            Look through and navigate on our bar and login and start your tracks!
        </p>

   </div>

      
</body>




























<% include partials/footer.ejs %>
