* {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

form {
  text-align: center;
  align-items: center;
}

body {
  background-image: url(/asset/images/vege.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}


form label {
  font-size: 20px;
}

:root {
  --red: #ff014f;
  --grey: #707881;
  --gray: #212428;
  --smooth: all 0.3s ease-in;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  opacity: 0;
  transition: all 0.2;
  height: 2px;
  width: 100%;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  opacity: 1;
}

/* .formPage {
  text-align: center;
  margin-top: 25px;
} */

/* input[type="text"] {
  border-radius: 5px;
  border: 1px solid;
  border-color: grey;
  width: 500px;
}

input[type="email"] {
  border-radius: 5px;
  border: 1px solid;
  border-color: grey;
  width: 500px;
}

input[type=phone]{
  border-radius: 5px;
  border: 1px solid;
  border-color: grey;
  width: 500px;
}


textarea[type="comments"] {
  border-radius: 5px;
  border: 1px solid;
  border-color: grey;
}


input[type=submit]{
  background-color: rgb(1, 187, 29);
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  padding: 4px;
}


input[type="submit"]:hover {
  background-color: rgb(0, 231, 35);
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  padding: 4px;
} */

/*About Us Section*/

.aboutTitle {
  text-align: center;
  margin-top: 25px;
  font-weight: bold;
  color: rgba(255, 255, 0, 0.74);
  font-family: 'Libre Baskerville', serif;
}

.logo_img {
  width: 20%;
  margin-left: 450px;
}

.aboutContainer {
  color: rgb(209, 0, 63);
  border: 5px black;
  opacity: 0.9;
  padding: 10px;
  border-radius: 25px;
  height: 500px;
  background-color: rgba(205, 205, 205, 0.9);
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
}

.OurMission {
  color:black;
  font-weight: bold;
}

.containerTitle {
  text-align: center;
}

.aboutus_story {
  text-wrap: balance;
}

.OurMission_logo {
  display: flex;
  align-items: center;
  margin-top: 80px; 
}

/* Home Page*/

/* === Banner === */

#banner {
  position: relative;
  display: flex;
  align-items: center;
  
}

.banner_heading {
  max-width: 1500px;
  letter-spacing: 2px;
  text-align: center;
  color: white;
  height: 70vh;
}

.banner_heading h1 {
  font-size: 2.25rem;
  margin-top: 15px;
}

.banner_heading p {
  color: rgba(255, 255, 0.8);
  font-size: 3rem;
}

.banner_heading span {
  font-family: 'Libre Baskerville', serif;;
}

.HomeContainer {
  margin-left:300px;
  margin-right: 300px;
  margin-top:15px;
  padding: 10px;
  background-color:rgba(220, 20, 60, 0.112);
  border-radius: 8px;
  height:600px;
  border-color: blue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.contTitle {
  text-align: center;
  margin-bottom: 20px;
}

.containerTitle{
  text-align: center;
}



/* #formSection {
  color: whitesmoke;
} */

/* Grocery Tracker Page */
.blank {
  height: 50vh;
}

/* Contact Us */

.sub_title {
  margin-top: 10px;
  color: rgba(255, 255, 0.75);
}

.contact_left_column {
  flex-basis: 35%;
}

.contact_right_column {
  flex-basis: 60%;
}

.contact_left_column p {
  color: white;
  margin-top: 20px;
}


.button {
  display: inline-block;
  margin: 50px auto;
  width: fit-content;
  border-radius: 5px;
  padding: 14px 25px;
  text-decoration: none;
  color: white;
  background-color: #aa1d18;
}

.contact_right_column form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: var(--grey);
  padding: 15px;
  margin: 15px 0;
  color: white;
  font-size: 18px;
  border-radius: 6px;
}

form input::placeholder,
form textarea::placeholder {
  color: var(--gray);
}

form .button {
  padding: 10px 30px;
  cursor: pointer;
}

/* Footer */

.text-danger.text-bold {
  text-decoration: none;
}

.register_button {
  text-decoration: none;
}